.DS_Store

.env
.env.*
!.env.example

.tooling/
UI设计/

apps/backoffice/.next/
apps/backoffice/node_modules/
apps/backoffice/out/
apps/backoffice/.vercel/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
